body {
    background-color: rgba(0, 0, 0, 0.62);
    color: white; 
  }
  
  
  
  .post-card {
      display: inline-block;
      width: 300px;
      margin: 20px;
      transition: transform 0.3s ease;
      box-shadow: 0 4px 8px #1fa90d(199, 28, 28, 0.2);
    }
    
    .post-card:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgb(255, 0, 0);
      background-color: #1fa90d;
    }
    
    .post-card img {
      width: 100%;
  
      transition: transform 0.3s ease;
    }
    
    .post-card img:hover {
      transform: scale(1.1);
    }
    
    .post-card .post-info {
      background-color: #fff;
      padding: 10px;
      transition: background-color 0.3s ease;
    }
    
    .post-card .post-info:hover {
      background-color: #1fa90d;
    }
    
   